@import "./variables.scss";

.details {
  z-index: 1;
  position: absolute;
  min-width: 200px;
  max-width: 300px;
  padding: 20px 15px 15px 25px;
  box-shadow: 0 0 3px 1px $textColor;
  border-radius: 12px;
  background-color: $background;
  &__data {
    margin: 5px 0;
    font-family: $textFont;
    color: $textColor;
    & span {
      font-weight: 600;
    }
  }
  &__button {
    position: absolute;
    transform: translate(145px, -15px);
    border: none;
    border-radius: 12%;
    background-color: $secondary;
    color: white;
  }
}
