@import "./variables.scss";
.earthquake {
  &__pin {
    background-color: $primary;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 3px 1px $borderPin;
    border-radius: 50% 50% 50% 0;
    position: absolute;
    cursor: pointer;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;

    &.selected {
      z-index: 2;
      transform: scale(1.5) translate(0px, 0px);
      border: none;
      background-image: url("../images/earthquake-logo.png");
      background-size: contain;
      background-position: center;
      background-color: $background;
      border-radius: 50%;
    }
  }
}
